<section>
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            </div>
        </div>
        <br>
        <div class="row">
            <p class="lead">
                Heaven for Freelancers
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary btn-lg" href="http://freelanceify.com" target="_blank">Learn more</a>
            </p>
        </div>
    </div>



    <br>Enjoy &amp; Keep Us Updated,
    <br>The Freelanceify Team.
</section>